body {
  background-color: #f6f7f8;
}
.headline {
  width: fit-content;
  margin-left: 324px;
  margin-top: 100px;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}
.add-task-section {
  display: flex;
  margin-left: 324px;
}
.left-section {
  width: 440px;
}
.left-section p {
  margin-bottom: 8px;
}
.left-section span {
  color: #ff8190;
}

.left-section input {
  width: 396px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 21px 12px 21px;
  font-size: 20px;
}
.left-section input::placeholder {
  font-size: 20px;
  color: #d1d1d1;
}
.description {
  margin-top: 28px;
}
.left-section textarea {
  height: 86px;
  width: 406px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 18px 16px 18px 16px;
  gap: 10px;
}

.left-section textarea::placeholder {
  font-family: "Inter";
  color: #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.assigned-to {
  margin-top: 28px;
}

.select-menu {
  cursor: pointer;
  width: 440px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.parting-line {
  margin-left: 30px;
  border: 1px solid #d1d1d1;
  height: 424px;
}
.right-section {
  width: 440px;
}
.right-section p {
  margin-bottom: 8px;
}
.right-section span {
  color: #ff8190;
}
.right-section input {
  cursor: pointer;
  width: 406px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Inter";
  color: #d1d1d1;
}
.prio {
  margin-top: 40px;
}
.buttons {
  width: 440px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.urgent {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0 0 4 0 0, 1;
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 16px 10px 16px 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.medium {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 10px;
  padding: 16px 10px 16px 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.low {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 16px 10px 16px 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.category {
  margin-top: 28px;
}
.category-menu {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 440px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.subtasks {
  margin-top: 28px;
}
.subtasks input {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
}
