body {
  background-color: #f6f7f8;
}
.headline {
  margin-left: 324px;
  margin-top: 80px;
  font-size: 61px;
  line-height: 73.2px;
}

.add-task-section {
  display: flex;
  margin-left: 324px;
}

.span-red {
  color: #ff8190;
}
.title-headline {
  margin-bottom: 8px;
}
.title {
  outline: none;
  width: 396px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 21px 12px 21px;
  font-size: 20px;
}
.left-section input::placeholder {
  font-size: 20px;
  color: #d1d1d1;
}
.left-section input:focus {
  border: 1px solid #29abe2;
}
.description {
  margin-top: 28px;
  margin-bottom: 8px;
}
.left-section textarea {
  font-size: 20px;
  line-height: 24px;
  outline: none;
  height: 86px;
  width: 406px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 18px 16px 18px 16px;
  gap: 10px;
}
.left-section textarea:focus {
  border: 1px solid #29abe2;
}

.left-section textarea::placeholder {
  font-family: "Inter";
  color: #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.assigned-to {
  margin-top: 28px;
  margin-bottom: 8px;
}

.select-contact {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  width: 406px;
  padding: 12px 16px 12px 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.select-contact:hover {
  border: 1px solid #ababab;
}

.parting-line {
  margin-left: 40px;
  border: 1px solid #d1d1d1;
  height: 424px;
}
.right-section {
  margin-left: 40px;
  width: 440px;
}
.right-section p {
  margin-bottom: 8px;
}
.date-input {
  outline: none;
  cursor: pointer;
  width: 406px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
  font-size: 20px;
  font-family: "Inter";
  color: #d1d1d1;
}
.right-section input:focus {
  border: 1px solid #29abe2;
}
.prio {
  margin-top: 20px;
}
.buttons {
  display: flex;
  gap: 16px;
}

.prio-buttons {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 16px 10px 16px 10px;
  font-family: "Inter";
  font-size: 20px;
}

.prio-buttons-shadow {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.category {
  margin-top: 28px;
}
.category-menu {
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 406px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
  font-size: 20px;
}
.category-menu:hover {
  border: 1px solid #ababab;
}
.category-option {
  padding: 10px;
}
.category-options {
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 440px;
  border-radius: 10px;
  font-size: 20px;
  flex-direction: column;
}
.category-options span {
  cursor: pointer;
  padding: 12px 16px 12px 16px;
  border-radius: 10px;
}
.category-options span:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

.subtasks {
  margin-top: 28px;
}
.subtasks-field {
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
  width: 406px;
  border: none;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
}
.bottom-buttons {
  display: flex;
  justify-content: end;
  gap: 16px;
  margin-top: 110px;
}
.clear-button {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 16px;
  font-size: 20px;
  line-height: 24px;
  gap: 4px;
  cursor: pointer;
}
.create-task-button {
  font-weight: 700 !important;
  color: white;
  background-color: #2a3647;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 16px;
  font-size: 21px;
  line-height: 25.2px;
  gap: 4px;
  cursor: pointer;
}
.required-text {
  margin-top: 175px;
}
.input-fields {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}
.high {
  background-color: red;
  color: white;
  font-weight: 700;
}

.prio-buttons:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}
.selected-high-button {
  background: #ff3d00;
  color: white;
  font-weight: 700;
}
.selected-medium-button {
  background: #ffa800;
  color: white;
  font-weight: 700;
}
.selected-low-button {
  background: #7ae229;
  color: white;
  font-weight: 700;
}

.title-required {
  font-size: 12px;
  line-height: 14.4px;
  color: #ff8190;
  margin-top: 4px;
}

.subtask-layout {
  display: flex;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  outline: none;
}
.subtask-plus {
  display: flex;
  background-color: white;
  margin-left: -37px;
  border-radius: 10px;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.subtasks-field::placeholder {
  font-family: "Inter";
  color: #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.d-none {
  display: none;
}
.closeAndCheck {
  cursor: pointer;
  gap: 4px;
  width: 24px;
  height: 24px;
  display: flex;
  background-color: white;
  margin-left: -70px;
}
.closeAndCheck img {
  cursor: pointer;
}
.subtask-line {
  border: 1px solid #d1d1d1;
  height: 24px;
}
.subtask-list-element {
  font-size: 16px;
  line-height: 19.2px;
}
.subtask-list-icons {
  display: flex;
  gap: 4px;
}

.subtasks-tasks {
  cursor: pointer;
  border-radius: 10px;
  margin-top: 8px;
  padding: 6px 16px 6px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subtask-tasks-edit {
  border-radius: 0px;
  border-bottom: 1px solid #29abe2;
  background-color: white !important;
  cursor: pointer;
  margin-top: 8px;
  padding: 6px 16px 6px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subtask-edit-div {
  outline: none;
}

.subtasks-tasks:hover {
  background-color: #d1d1d1;
}
ul {
  margin: auto;
}
.test:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

.show-task-content:first-child {
  margin-top: 10px;
}

.show-task-contact-add-task {
  display: flex;
  gap: 16px;
  align-items: center;
}

.add-task-contacts {
  background-color: white;
  border-radius: 10px;
}
.contacts-pos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 16px 7px 16px;
}
.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
.contacts-pos:hover {
  border-radius: 10px;
  cursor: pointer;
  background-color: #d1d1d1;
}
