body {
  background-color: #f6f7f8;
}
.headline {
  margin-left: 324px;
  margin-top: 190px;
  font-size: 61px;
  line-height: 73.2px;
}
.add-task-section {
  display: flex;
  margin-left: 324px;
}
.left-section p {
  margin-bottom: 8px;
}
.span-red {
  color: #ff8190;
}

.left-section input {
  width: 396px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 21px 12px 21px;
  font-size: 20px;
}
.left-section input::placeholder {
  font-size: 20px;
  color: #d1d1d1;
}
.description {
  margin-top: 28px;
}
.left-section textarea {
  height: 86px;
  width: 406px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 18px 16px 18px 16px;
  gap: 10px;
}

.left-section textarea::placeholder {
  font-family: "Inter";
  color: #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.assigned-to {
  margin-top: 28px;
}

.select-menu {
  cursor: pointer;
  width: 440px;
  padding: 12px 16px 12px 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.parting-line {
  margin-left: 40px;
  border: 1px solid #d1d1d1;
  height: 424px;
}
.right-section {
  margin-left: 40px;
  width: 440px;
}
.right-section p {
  margin-bottom: 8px;
}
.right-section input {
  cursor: pointer;
  width: 406px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
  font-size: 20px;
  font-family: "Inter";
  color: #d1d1d1;
}
.prio {
  margin-top: 40px;
}
.buttons {
  display: flex;
  gap: 16px;
}

.prio-buttons {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 16px 10px 16px 10px;
  font-family: "Inter";
  font-size: 20px;
}
.category {
  margin-top: 28px;
}
.category-menu {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 440px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
  font-size: 20px;
}
.subtasks {
  margin-top: 28px;
}
.subtasks input {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
}
.bottom-buttons {
  display: flex;
  justify-content: end;
  gap: 16px;
  margin-top: 110px;
}
.clear-button {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 16px;
  font-size: 20px;
  line-height: 24px;
  gap: 4px;
  cursor: pointer;
}
.create-task-button {
  font-weight: 700 !important;
  color: white;
  background-color: #2a3647;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 16px;
  font-size: 21px;
  line-height: 25.2px;
  gap: 4px;
  cursor: pointer;
}
.required-text {
  margin-top: 200px;
}
.input-fields {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}
.medium {
  background-color: #ffa800;
  color: white;
  font-weight: 700;
}
.high {
  background-color: red;
  color: white;
  font-weight: 700;
}

.prio-buttons:hover {
  box-shadow: 0px 0px 4px 0px #0000001a;
}
