.contacts-library {
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    position: fixed;
    bottom: 0;
    top: 96px;
    left: 232px;
    width: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    z-index: 99;
    background-color: white;
}

.button-add-contact {
    background-color: #2a3647;
    width: 352px;
    border-radius: 10px;
    padding: 12px 0px 12px 0px;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    font-weight: 700;
    font-size: 21px;
    color: white;
}

.button-add-contact:hover,
.button-dark:hover {
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.button-add-contact img {
    width: 32px;
    height: 32px;
}

.contacts-list {
    width: 352px;
    overflow: scroll;
    margin-top: 8px;
}

.first-letter {
    padding: 17px 36px 17px 36px;
    line-height: 24px;
}

.line {
    padding: 0px 0px 0px 0px;
    height: 1px;
    background-color: #d1d1d1;
    margin-bottom: 8px;
}

.contact {
    padding: 15px 24px 15px 24px;
    display: flex;
    align-items: center;
    gap: 35px;
    border-radius: 10px;
}

.contact:hover {
    background: linear-gradient(to bottom, #f9f9f9, #f0f0f0);
    cursor: pointer;
}

.contact-letters {
    width: 42px;
    height: 42px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}

.contact-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-name {
    font-size: 20px;
}

.contact-mail {
    font-size: 16px;
    color: #007CEE;
}

.contact-details-container {
    background-color: #f6f7f8;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 96px;
    left: 688px;
    padding-left: 55px;
    padding-top: 110px;
}

.contact-headline {
    display: flex;
    align-items: center;
    gap: 30px;
}

h1 {
    font-weight: 700;
    font-size: 61px;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-weight: 400;
    font-size: 27px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #2a3647;
}

h3 {
    font-size: 47px;
    font-weight: 500;
    margin-block-start: 0;
    margin-block-end: 0;
}

.blue-vertical-line {
    height: 59px;
    width: 3px;
    background-color: #29abe2;
}

.contact-profile {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.contact-profile-firstrow {
    display: flex;
    gap: 54px;
    align-items: center;
}

.contact-letters-big {
    width: 120px;
    height: 120px;
    background-color: orange;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    font-size: 47px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-actions {
    display: flex;
    gap: 13px;
    padding-top: 8px;
}

.contact-links {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    text-decoration: none;
    color: #2a3647;
}

.contact-icon {
    height: 24px;
    width: 24px;
    transition: filter;
}

.contact-links:hover {
    color: #29abe2;
    font-weight: 700;
    cursor: pointer;
}

.contact-links:hover .contact-icon {
    filter: brightness(0) saturate(100%) invert(62%) sepia(41%) saturate(2398%) hue-rotate(165deg) brightness(93%) contrast(90%);
}

.padding-top-bottom-27 {
    padding-top: 27px;
    padding-bottom: 27px;
}

.contact-channels {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-channels p {
    font-size: 16px;
    font-weight: 700;
}

.contact-channels a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    color: #007cee;
}

.black-link {
    color: #000000 !important;
}

.selected-contact {
    background-color: #2a3647 !important;
    color: white !important;
}

.selected-contact:hover {
    background-color: #2a3647 !important;
    color: white !important;
}

.slide-in-right {
    animation: slide-in-right 0.5s forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-out-right {
    animation: slide-out-right 0.5s forwards;
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}


/* ADD CONTACT LAYER */

.add-contact-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.add-contact-inner-layer {
    height: 594px;
    border-radius: 20px;
    /* padding: 66px 46px 66px 46px; */
    display: flex;

}

.add-contact-left {
    background-color: #2a3647;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 0px 48px 66px 48px;
}

.add-contact-left img {
    width: 55px;
}

.add-contact-left h1,
.add-contact-left h2 {
    color: white;
}

.add-layer-line {
    background-color: #29abe2;
    height: 3px;
    width: 90px;
}

.add-contact-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    padding: 40px 40px 66px 66px;
    gap: 80px;
}

.add-contact-right img {
    width: 32px;
    height: 32px;
}

.add-contact-layer-close {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-contact-layer-close:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.add-contact-data {
    display: flex;
    gap: 80px;
    align-items: center;
}

.default-contact {
    width: 120px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: #d1d1d1;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.default-contact img {
    width: 64px;
    height: 64px;
}

.add-contact-form form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-container {
    position: relative;
}

.input-container .icon {
    position: absolute;
    left: 425px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    /* Breite des Icons anpassen */
    height: 24px;
    /* Höhe des Icons anpassen */
    pointer-events: none;
    /* Damit das Icon keine Mausereignisse empfängt */
}

.add-contact-form input {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    width: 422px;
    height: 50px;
    padding: 0px 21px 0px 21px;
    font-size: 20px;
}

.add-contact-form input:focus {
    outline: none;
}

.add-contact-form input::placeholder {
    color: #d1d1d1;
    font-size: 20px;
}

.button-group {
    display: flex;
    gap: 24px;
}

.button-dark {
    background-color: #2a3647;
    border-radius: 10px;
    border: none;
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    font-weight: 700;
    font-size: 21px;
    color: white;
}

.button-bright {
    border-radius: 10px;
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    color: #2a3647;
    border: 1px solid #2a3647;
    background-color: white;
}

.button-bright:hover {
    cursor: pointer;
    border: 1px solid #29abe2;
    color: #29abe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-bright:hover .contact-icon {
    filter: brightness(0) saturate(100%) invert(62%) sepia(41%) saturate(2398%) hue-rotate(165deg) brightness(93%) contrast(90%);
}

.button-dark img,
.button-bright img {
    width: 24px;
    height: 24px;
}

.responsive-add-contact {

    width: 56px;
    height: 56px;
    position: fixed;
    top: 578px;
    left: 558px;
    border-radius: 46px;
    border: 1px solid white;
    pad: 12px;
    background-color: #2a3647;
    display: none;
    justify-content: center;
    align-items: center;
}

.responsive-add-contact img {
    padding: 11px 13px;
}

.responsive-add-contact:hover {
    cursor: pointer;
    background-color: #29abe2;
}

.close-symbol {
    display: none;
}


/* Reponsive add contact */
@media(max-width:1100px) {
    .responsive-add-contact {
        display: block;
        animation: slide-in-right 0.5s forwards; 
    }

    .button-add-contact {
        display: none;
        animation: slide-out-right 0.5s forwards;
    }

    .add-contact-layer-close img {
        display: none;
    }

    .add-contact-layer-close {
        display: none;
    }

    .add-contact-inner-layer {
        border-radius: 20px;
        flex-direction: column;
        width: 443px;
        height: 670px;
        position: fixed;
        top: 12px;
    }

    .add-contact-left {
        border-radius: 20px 20px 0 0;
        width: 444px;
        height: 270px;
        display: flex;
        padding: 66px 24px 66px 24px;
    }

    .add-contact-left img {
        display: none;
    }
    
    .add-contact-right {
        width: 444px;
        height: 346px;
        border-radius: 0px 0px 20px 20px;
        padding: 66px 24px 66px 24px;
    }

    .add-contact-right img {
        width: 64px;
        height: 64px;
        position: fixed;
        left: 215px;
        top: 270px;
        z-index: 3;
    }

    .default-contact {
        position: fixed;
        left: 190px;
        top: 249px;
        width: 110px;
        height: 110px;
        border-radius: 70px;
    }

    .default-contact img {
        display: block;
    }

    .add-contact-form {
        width: 364px;
        height: 153px;
        position: fixed;
        top: 404px;
        left: 16px;
    }

    .add-contact-form form {
        gap: 16px; 
    }

    .input-container .icon {
        left: 422px;
    }

    .add-contact-form input {
        width: 416px;
        height: 41px;
    }

    .button-group {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 21px;
    }

    .button-dark {
        padding: 18px 18px 18px 4px;
        width: 202px;
        height: 51px;
        position: relative;
        left: 28px;
    }

    .button-bright {
        display: none !important;
    }

    .button-dark img {
        width: 24px;
        height: 24px;
        position: fixed;
        top: 593px;
        left: 318px;
    }
    
    .close-symbol {
        display: block !important;
        width: 64px;
        height: 64px;
        position: fixed;
        left: 436px;
        top: -2px;
        z-index: 3;
        
    }
    
    .close-symbol:hover {
        cursor: pointer;   
    }
}