body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400; /* Standard Regular */
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 20px;
}

.sidebar {
    background-color: #2A3647;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 232px;
    z-index: 10;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
}



.sidebar img {
    width: 100px;
}

.sidebar-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    margin-bottom: 150px;
    width: 100%;
}

.sidebar-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 53px;
    width: 179px;
    height: 46px;
    text-decoration: none;
    color: #CDCDCD;
    font-size: 16px;
    
}

.sidebar-links:hover {
    background-color: #2A3D59;
}

.sidebar-links img {
    height: 30px;
    width: 30px;
}

.sidebar-menu-bottom {
    font-size: 16px;
    color: #A8A8A8;
    line-height: 19.2px;
    margin-bottom: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.sidebar-menu-bottom a {
    text-decoration: none;
    color: #A8A8A8;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 232px;
    text-align: center;
    
}

.sidebar-menu-bottom a:hover {
    font-weight: 700;
    color: #29ABE2;
}

.sidebar-menu-bottom a.active {
    background-color: #091931;
    color: #A8A8A8;

}

header {
    position: sticky;
    top: 0;
    padding: 20px 40px 20px 348px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-icons img {
    height: 32px;
}

.header-user-name {
    height: 50px;
    width: 50px;
    border: 3px solid #2A3647;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: #29ABE2;
}

.header-user-name:hover {
    background-color: rgba(12, 46, 98, 0.12);
    cursor: pointer;
}