body {
  background-color: #F6F7F8;
}

h1 {
  font-size: 73px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

.privacy-policy {
  margin: 80px 100px 32px 300px;
  position: sticky;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
}

.titleFromPolicy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%
}




.dropdown {
  float: right;
  position: relative;
}

.show {
  display: flex;
  flex-direction: column;
}

