body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #F6F7F8;
}

.starting-screen {
    position: absolute;
    top: 345px;
    left: 583px;
    animation: moveDiv 3s forwards;
}

.starting-screen img {
    width: 274px;
    height: 334.07px;
    animation: resizeImg 3s forwards;
}

.content {
    opacity: 0;
    animation: showContent 3s forwards 3s;
}

@keyframes moveDiv {
    0% {
        left: 583px;
        top: 345px;
    }

    100% {
        left: 77px;
        top: 80px;
    }
}

@keyframes resizeImg {
    0% {
        width: 274px;
        height: 334.07px;
    }

    100% {
        width: 100.03px;
        height: 121.97px;
    }
}

@keyframes showContent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.signup-conteiner {
    position: absolute;
    top: 5%;
    right: 5%;

    div {
        display: flex;
        align-items: center;
        gap: 35px;


    }
}

.btn {

    width: 91px;
    height: 48px;
    border-radius: 8px;
    padding: 15px, 16px, 15px, 16px;
    gap: 10px;
    background-color: #2A3647;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;

}

.btn:hover {
    cursor: pointer;
}

.login-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 3px #00000014;
    background-color: #FFFFFF;
    padding: 48px 115px;
    gap: 32px;
    border-radius: 30px;
}

.blue-underline {
    width: 150px;
    height: 3px;
    background-color: #29ABE2;
}

h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
    text-align: center;
    margin: 0;
}

.d_none {
    display: none;
}

.login-input {
    border: none;
    outline: none;
    width: 380px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-conteiner {
    padding: 15px 16px 15px 16px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 422px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    width: 24px;
    border-radius: 3px;
}

.remember-me {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.checkbox-conteiener {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.mail-img {
    width: 20px;
    height: 16px;
}

.password-img {
    height: 21px;
    width: 16px;
}