<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desktop Template</title>
    <link rel="stylesheet" href="../css/desktop_template.css">
    <link rel="stylesheet" href="../css/fonts.css">
</head>
<body>
    <div class="sidebar"></div>
    <header>
        <div class="header-content">
            <p>Kanban Project Management Tool</p>
            <div class="header-icons">
                <img class="header-help" src="../img/help.svg" alt="questionmark">
                <div class="header-user-name">SM</div>
            </div>
        </div>
    </header>
    
</body>
</html>